@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
	font-family: 'Roboto', sans-serif;
    	margin: 0;
    	background-color: #1F2937;
}

header {
	width: 75%;
  	margin: 0 auto;
}

#header-elements {
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-logo {
	font-size: 24px;
	color: #F9F4F8;
	font-weight: bold;
}

#header-links {
	list-style-type: none;
  	padding: 0;
  	overflow: hidden;
	float: right;
}

#header-links li {
	float: left;
}

#header-links a {
	text-decoration: none;
	color: #E5E7EB;
	padding: 16px;
	padding-right: 0;
}

#hero {
	display: flex;
	align-items: center;
	height: 480px;
}

#hero-elements {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	height: 50%;
	margin: 0 auto;
}

#hero-texts {
	width: 50%;
	margin-right: 10px;
}

#hero-main-text {
	font-size: 48px;
	font-weight: 800;
	color: #F9F4F8;
}

#hero-sub-text {
	font-size: 18px;
	color: #E5E7EB;
}


#hero-image-div {
	width: 50%;
	height: 100%;
	background-color: yellow;
}

#hero-image {
	width: 100%;
	height: 100%;
}

#btn-signup {
	font-family: inherit;
	font-weight: bold;
	color: #E5E7EB;
	background-color: #3882F6;
	font-size: 18px;
	padding: 8px 24px;
	border: none;
	border-radius: 8px;
}

#informations-div {
	background-color: white;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 48px;
}

#info-text {
	font-size: 36px;
	font-weight: bold;
	color: #1F2937;
	text-align: center;
}

#random-info-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame-div {
	box-sizing: border-box;
	border: 4px solid #3882F6;
	border-radius: 16px;
	width: 100%;
	height: 192px;
}

.text-frame-div {
	font-size: 18px;
	text-align: center;
	margin: 10px;
	width: 192px;
	height: auto;

}

#quote-section {
	display: flex;
	justify-content: center;
	padding-top: 96px;
	padding-bottom: 96px; 
	background-color: #E5E7EB;
}

#quote-paragraph {
	width: 60%;
	font-size: 36px;
	text-align: right;
	font-weight: 300;
	font-style: italic;
	color: #1F2937;
}

#callToAction-section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding-top: 96px;
	padding-bottom: 96px;
}

#callToAction-blue-div {
	background-color: #3882F6;
	width: 75%;
}
